In [49]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS, ALSModel

In [50]:
spark = SparkSession.builder.master("local").getOrCreate()

In [51]:
movie_ratings = spark.read.json('./data/ratings.json')
movie_ratings = movie_ratings.toPandas()

In [52]:
movie_ratings.head()

   movie_id  rating    timestamp  user_id
0       858       4  956678732.0     6040
1      2384       4  956678754.0     6040
2       593       5  956678754.0     6040
3      1961       4  956678777.0     6040
4      1419       3  956678856.0     6040

In [53]:
import pandas as pd

In [54]:
movies_meta = pd.read_csv('features.csv')

In [55]:
movies_meta

,id,title_y,category,budget,revenue,original_title,runtime,vote_average,status,popularity,vote_count
0,1.0,Toy Story,"['Animation', ""Children's"", 'Comedy']",30000000,373554033,Toy Story,81.0,7.7,Released,21.946943,5415
1,2.0,Jumanji,"['Adventure', ""Children's"", 'Fantasy']",65000000,262797249,Jumanji,104.0,6.9,Released,17.015539,2413
2,3.0,Grumpier Old Men,"['Comedy', 'Romance']",0,0,Grumpier Old Men,101.0,6.5,Released,11.7129,92
3,4.0,Waiting to Exhale,"['Comedy', 'Drama']",16000000,[{'name': 'Twentieth Century Fox Film Corporat...,Waiting to Exhale,"[{'iso_3166_1': 'US', 'name': 'United States o...",Friends are the people who let you be yourself...,81452156,Bernie,Waiting to Exhale
4,5.0,Father of the Bride Part II,['Comedy'],0,76578911,Father of the Bride Part II,106.0,5.7,Released,8.387519,173
5,6.0,Heat,"['Action', 'Crime', 'Thriller']",60000000,187436818,Heat,170.0,7.7,Released,17.924927,1886
6,7.0,Sabrina,"['Comedy', 'Romance']",58000000,0,Sabrina,127.0,6.2,Released,6.677277,141
7,915.0,Sabrina,"['Comedy', 'Romance']",58000000,0,Sabrina,127.0,6.2,Released,6.677277,141
8,8.0,Tom and Huck,"['Adventure', ""Children's""]",0,0,Tom and Huck,97.0,5.4,Released,2.561161,45
9,9.0,Sudden Death,['Action'],35000000,64350171,Sudden Death,106.0,5.5,Released,5.23158,174
10,10.0,GoldenEye,"['Action', 'Adventure', 'Thriller']",58000000,352194034,GoldenEye,130.0,6.6,Released,14.686036,1194
11,NaN,NaN,NaN,62000000,107879496,The American President,106.0,6.5,Released,6.318445,199
12,12.0,Dracula: Dead and Loving It,"['Comedy', 'Horror']",0,0,Dracula: Dead and Loving It,88.0,5.7,Released,5.430331,210
13,13.0,Balto,"['Animation', ""Children's""]",0,11348324,Balto,78.0,7.1,Released,12.140733,423
14,14.0,Nixon,['Drama'],44000000,13681765,Nixon,192.0,7.1,Released,5.092,72
15,15.0,Cutthroat Island,"['Action', 'Adventure', 'Romance']",98000000,10017322,Cutthroat Island,119.0,5.7,Released,7.284477,137
16,16.0,Casino,"['Drama', 'Thriller']",52000000,116112375,Casino,178.0,7.8,Released,10.137389,1343
17,17.0,Sense and Sensibility,"['Drama', 'Romance']",16500000,135000000,Sense and Sensibility,136.0,7.2,Released,10.673167,364
18,18.0,Four Rooms,['Thriller'],4000000,4300000,Four Rooms,98.0,6.5,Released,9.026586,539
19,19.0,Ace Ventura: When Nature Calls,['Comedy'],30000000,212385533,Ace Ventura: When Nature Calls,90.0,6.1,Released,8.205448,1128
20,20.0,Money Train,['Action'],60000000,35431113,Money Train,103.0,5.4,Released,7.337906,224
21,21.0,Get Shorty,"['Action', 'Comedy', 'Drama']",30250000,/vWtDUUgQAsVyvRW4mE75LBgVm2e.jpg,Get Shorty,"[{'name': 'Jersey Films', 'id': 216}, {'name':...",Released,1995-10-20,to collect a bad debt from Harry Zimm,"The mob is tough, but it’s nothing like show b..."
22,22.0,Copycat,"['Crime', 'Drama', 'Thriller']",0,0,Copycat,124.0,6.5,Released,10.701801,199
23,23.0,Assassins,['Thriller'],50000000,30303072,Assassins,132.0,6.0,Released,11.065939,394
24,24.0,Powder,"['Drama', 'Sci-Fi']",0,0,Powder,111.0,6.3,Released,12.133094,143
25,25.0,Leaving Las Vegas,"['Drama', 'Romance']",3600000,49800000,Leaving Las Vegas,112.0,7.1,Released,10.332025,365
26,26.0,Othello,['Drama'],0,0,Othello,123.0,7.0,Released,1.845899,33
27,2848.0,Othello,['Drama'],0,0,Othello,123.0,7.0,Released,1.845899,33
28,27.0,Now and Then,['Drama'],12000000,27400000,Now and Then,100.0,6.6,Released,8.681325,91
29,28.0,Persuasion,['Romance'],0,0,Persuasion,104.0,7.4,Released,2.228434,36
...,...,...,...,...,...,...,...,...,...,...,...
45626,NaN,NaN,NaN,0,0,The Final Storm,92.0,3.7,Released,1.270832,11
45627,NaN,NaN,NaN,0,0,In a Heartbeat,4.0,8.3,Released,20.82178,146
45628,NaN,NaN,NaN,0,0,"Bloed, Zweet en Tranen",111.0,6.8,Released,0.590087,11
45629,NaN,NaN,NaN,0,0,Jungle Woman,61.0,5.8,Released,0.143223,2
45630,NaN,NaN,NaN,0,0,To Be Fat Like Me,89.0,5.0,Released,0.767762,12
45631,NaN,NaN,NaN,0,0,Cadet Kelly,101.0,5.2,Released,4.392389,145
45632,NaN,NaN,NaN,0,0,Le tripot clandestin,3.0,5.0,NaN,0.21926,3
45633,NaN,NaN,NaN,0,0,L'Homme à la tête de caoutchouc,3.0,7.6,Released,1.618458,29
45634,NaN,NaN,NaN,0,0,Les cartes vivantes,3.0,6.1,Released,0.208349,8
45635,NaN,NaN,NaN,0,0,Les affiches en goguette,3.0,4.5,Released,0.148131,2
45636,NaN,NaN,NaN,0,0,Le locataire diabolique,6.0,6.7,Released,0.725084,12
45637,NaN,NaN,NaN,0,0,Le Roi du maquillage,3.0,6.0,Released,0.213973,6
45638,NaN,NaN,NaN,0,0,Les Transmutations imperceptibles,2.0,5.0,Released,0.071782,2
45639,NaN,NaN,NaN,0,2005-09-13,Pooh's Heffalump Halloween Movie,0,False,"[{'iso_639_1': 'en', 'name': 'English'}]","brave forever"""" and catch the Gobloon so they...",5.4
45640,NaN,NaN,NaN,0,0,L'Homme orchestre,1.0,6.5,Released,1.109068,22
45641,NaN,NaN,NaN,0,0,Nouvelles luttes extravagantes,2.0,6.5,Released,0.225432,6
45642,NaN,NaN,NaN,0,0,Deep Hearts,58.0,0.0,Released,0.011025,0
45643,NaN,NaN,NaN,0,0,Maa,146.0,6.6,Released,1.559596,14
45644,NaN,NaN,NaN,0,0,The Morning After,79.0,4.0,Released,0.139936,2
45645,NaN,NaN,NaN,0,0,San Michele aveva un gallo,90.0,6.0,Released,0.225051,3
45646,NaN,NaN,NaN,0,1946-03-29,House of Horrors,0,False,"[{'iso_639_1': 'en', 'name': 'English'}]",he tricks the psycho into murdering his criti...,6.3
45647,NaN,NaN,NaN,0,0,Shadow of the Blair Witch,45.0,7.0,Released,0.076061,2
45648,NaN,NaN,NaN,0,0,The Burkittsville 7,30.0,7.0,Released,0.38645,1
45649,NaN,NaN,NaN,0,0,Caged Heat 3000,85.0,3.5,Released,0.661558,1
45650,3034.0,Robin Hood,"['Animation', ""Children's""]",0,0,Robin Hood,104.0,5.7,Released,5.683753,26
45651,NaN,NaN,NaN,0,0,رگ خواب,90.0,4.0,Released,0.072051,1
45652,NaN,NaN,NaN,0,0,Siglo ng Pagluluwal,360.0,9.0,Released,0.178241,3
45653,NaN,NaN,NaN,0,0,Betrayal,90.0,3.8,Released,0.903007,6
45654,NaN,NaN,NaN,0,0,Satana likuyushchiy,87.0,0.0,Released,0.003503,0
45655,NaN,NaN,NaN,0,0,Queerama,75.0,0.0,Released,0.163015,0

In [57]:
users_meta = pd.read_csv('users.csv')

In [58]:
users_meta.head()

   ID sex  age  occupation zipcode
0   1   F    1          10   48067
1   2   M   56          16   70072
2   3   M   25          15   55117
3   4   M   45           7   02460
4   5   M   25          20   55455

In [63]:
movies = pd.merge(movie_ratings, movies_meta, left_on='movie_id', right_on='id')

In [64]:
movies_and_users = pd.merge(movies, users_meta, left_on='user_id', right_on='ID')

In [65]:
movies_and_users.drop(['id','ID'], axis=1, inplace=True)

In [66]:
movies_and_users.head()

,movie_id,rating,timestamp,user_id,title_y,category,budget,revenue,original_title,runtime,vote_average,status,popularity,vote_count,sex,age,occupation,zipcode
0,2384,4,956678754.0,6040,Babe: Pig in the City,"[""Children's"", 'Comedy']",90000000,69131860,Babe: Pig in the City,92.0,5.3,Released,6.229629,312,M,25,6,11106
1,1961,4,956678777.0,6040,Rain Man,['Drama'],25000000,412800000,Rain Man,133.0,7.6,Released,11.267467,1762,M,25,6,11106
2,1419,3,956678856.0,6040,Walkabout,['Drama'],0,0,Walkabout,95.0,7.4,Released,10.177086,111,M,25,6,11106
3,3111,5,956678856.0,6040,Places in the Heart,['Drama'],0,0,Places in the Heart,111.0,7.1,Released,3.712567,31,M,25,6,11106
4,3505,4,956678856.0,6040,No Way Out,['Thriller'],15000000,35509515,No Way Out,114.0,6.9,Released,11.457803,155,M,25,6,11106