In [1]:
import pandas as pd
import numpy as np

In [2]:
import pyspark

spark = (pyspark.sql.SparkSession.builder 
  .master("local[*]")
  .getOrCreate())

meta_df = spark.read.csv('data/movies_metadata.csv',
                               inferSchema=True,
                               header=True
                               ).toPandas()

In [3]:
meta_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,False,7.7,5415
1,False,None,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",None,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",None,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,None,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",None,31357,tt0114885,en,Waiting to Exhale,"""Cheated on, mistreated and stepped on, the wo...",...,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",None,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [45]:
meta_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
meta_df.loc[meta_df['adult'] == 'True']
#adult = True means porn, let's exlcude that...?

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19521,True,None,0,"[{'id': 27, 'name': 'Horror'}]",None,5422,tt0079642,it,Le notti erotiche dei morti viventi,A sailor takes an American businessman and his...,...,1980-11-18,0,112.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,None,Erotic Nights of the Living Dead,False,2.2,7
28764,True,None,0,"[{'id': 80, 'name': 'Crime'}]",http://www.imdb.com/title/tt0119931/,169158,tt0119931,en,Standoff,The FBI and Texas police make ready to storm t...,...,1998-01-11,0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Trust Will Get You Killed,Standoff,False,4.8,5
32006,True,None,0,"[{'id': 35, 'name': 'Comedy'}]",None,44781,tt0322232,cn,發電悄嬌娃,Electrical Girl centers around a horny young w...,...,2001-04-26,0,89.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,None,Electrical Girl,False,0.0,0
32188,True,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dietofsex.com/,324230,tt3094816,es,Diet of Sex,Ágata suffers from a psychological disorder wh...,...,2014-02-14,0,72.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,"Comedy, food, drama and sex, a lot of sex",Diet of Sex,False,4.0,12
39996,True,None,0,"[{'id': 80, 'name': 'Crime'}, {'id': 27, 'name...",None,35731,tt1161951,en,Amateur Porn Star Killer 2,Shane Ryan's sequel to the disturbing Amateur ...,...,2008-05-13,0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Humiliation. Rape. Murder. You know the drill.,Amateur Porn Star Killer 2,False,6.3,8
39997,True,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",None,55774,tt1153101,en,The Band,Australian film about a fictional sub-par Aust...,...,2009-11-17,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Sex, drugs and Rock 'n Roll",The Band,False,3.3,7
40669,True,None,0,"[{'id': 80, 'name': 'Crime'}, {'id': 27, 'name...",None,39922,tt0070696,da,Dværgen,Olaf and his mother run a boarding house and a...,...,1973-12-20,0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Mother of all Dwarfsploitation films!,The Sinful Dwarf,False,5.8,13
41104,True,None,750000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",None,376004,tt4044464,en,Adulterers,A man who returns home to find his wife cheati...,...,2016-01-05,0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Love. Betrayal. Vengeance,Adulterers,False,5.2,16
43188,True,None,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",None,448290,tt2697688,en,Half -Life,An American scientific research facility opens...,...,None,0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",In Production,None,Half -Life,False,3.7,3

In [150]:
movies_df = pd.read_csv('data/movies.dat',
            header=None, sep='::', engine='python')

In [151]:
movies_df.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [152]:
type(movies_df)

pandas.core.frame.DataFrame

In [153]:
movies_df[1] = movies_df[1].map(lambda x: x.split(' (')[0])

In [154]:
movies_df.head()

   0                            1                             2
0  1                    Toy Story   Animation|Children's|Comedy
1  2                      Jumanji  Adventure|Children's|Fantasy
2  3             Grumpier Old Men                Comedy|Romance
3  4            Waiting to Exhale                  Comedy|Drama
4  5  Father of the Bride Part II                        Comedy

In [155]:
movies_df[2] = movies_df[2].map(lambda x: x.split('|'))

In [156]:
movies_df.head()

   0                            1                                 2
0  1                    Toy Story   [Animation, Children's, Comedy]
1  2                      Jumanji  [Adventure, Children's, Fantasy]
2  3             Grumpier Old Men                 [Comedy, Romance]
3  4            Waiting to Exhale                   [Comedy, Drama]
4  5  Father of the Bride Part II                          [Comedy]

In [157]:
meta_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [160]:
movies_df.columns=['id','title','category']

In [161]:
movies_df.category

0          [Animation, Children's, Comedy]
1         [Adventure, Children's, Fantasy]
2                        [Comedy, Romance]
3                          [Comedy, Drama]
4                                 [Comedy]
5                [Action, Crime, Thriller]
6                        [Comedy, Romance]
7                  [Adventure, Children's]
8                                 [Action]
9            [Action, Adventure, Thriller]
10                [Comedy, Drama, Romance]
11                        [Comedy, Horror]
12                 [Animation, Children's]
13                                 [Drama]
14            [Action, Adventure, Romance]
15                       [Drama, Thriller]
16                        [Drama, Romance]
17                              [Thriller]
18                                [Comedy]
19                                [Action]
20                 [Action, Comedy, Drama]
21                [Crime, Drama, Thriller]
22                              [Thriller]
23                         [Drama, Sci-Fi]
24                        [Drama, Romance]
25                                 [Drama]
26                                 [Drama]
27                               [Romance]
28                     [Adventure, Sci-Fi]
29                                 [Drama]
                       ...
3853                      [Horror, Sci-Fi]
3854                              [Comedy]
3855                              [Comedy]
3856                   [Adventure, Sci-Fi]
3857                   [Adventure, Sci-Fi]
3858                      [Comedy, Horror]
3859                              [Comedy]
3860                              [Horror]
3861                      [Horror, Sci-Fi]
3862                      [Horror, Sci-Fi]
3863                      [Horror, Sci-Fi]
3864                              [Sci-Fi]
3865                              [Horror]
3866                     [Drama, Thriller]
3867                    [Sci-Fi, Thriller]
3868                              [Horror]
3869                              [Horror]
3870                              [Horror]
3871                              [Horror]
3872                              [Horror]
3873                              [Comedy]
3874                       [Comedy, Drama]
3875    [Adventure, Animation, Children's]
3876             [Action, Drama, Thriller]
3877                            [Thriller]
3878                              [Comedy]
3879                               [Drama]
3880                               [Drama]
3881                               [Drama]
3882                     [Drama, Thriller]
Name: category, Length: 3883, dtype: object

In [170]:
meta_df.shape

(45572, 24)

In [211]:
results = pd.merge(meta_df,
                  movies_df[['id','title','category']],
                  left_on='original_title',
                  right_on='title',
                  how='left')

In [212]:
features = (results[['id_y','title_y','category','budget','revenue', 'original_title',
                           'runtime','vote_average','status','popularity','vote_count']])

In [213]:
features = features.rename(columns={'id_y':'id'})

In [214]:
features.shape

(45656, 11)

In [215]:
meta_df.shape

(45572, 24)

In [225]:
features.to_csv('features.csv',index=False)

In [226]:
!ls

LICENSE                 features                kevin_eda_cleaned.ipynb
README.md               features.csv
data                    kevin_eda.ipynb

In [227]:
pd.read_csv('features.csv')

,id,title_y,category,budget,revenue,original_title,runtime,vote_average,status,popularity,vote_count
0,1.0,Toy Story,"['Animation', ""Children's"", 'Comedy']",30000000,373554033,Toy Story,81.0,7.7,Released,21.946943,5415
1,2.0,Jumanji,"['Adventure', ""Children's"", 'Fantasy']",65000000,262797249,Jumanji,104.0,6.9,Released,17.015539,2413
2,3.0,Grumpier Old Men,"['Comedy', 'Romance']",0,0,Grumpier Old Men,101.0,6.5,Released,11.7129,92
3,4.0,Waiting to Exhale,"['Comedy', 'Drama']",16000000,[{'name': 'Twentieth Century Fox Film Corporat...,Waiting to Exhale,"[{'iso_3166_1': 'US', 'name': 'United States o...",Friends are the people who let you be yourself...,81452156,Bernie,Waiting to Exhale
4,5.0,Father of the Bride Part II,['Comedy'],0,76578911,Father of the Bride Part II,106.0,5.7,Released,8.387519,173
5,6.0,Heat,"['Action', 'Crime', 'Thriller']",60000000,187436818,Heat,170.0,7.7,Released,17.924927,1886
6,7.0,Sabrina,"['Comedy', 'Romance']",58000000,0,Sabrina,127.0,6.2,Released,6.677277,141
7,915.0,Sabrina,"['Comedy', 'Romance']",58000000,0,Sabrina,127.0,6.2,Released,6.677277,141
8,8.0,Tom and Huck,"['Adventure', ""Children's""]",0,0,Tom and Huck,97.0,5.4,Released,2.561161,45
9,9.0,Sudden Death,['Action'],35000000,64350171,Sudden Death,106.0,5.5,Released,5.23158,174
10,10.0,GoldenEye,"['Action', 'Adventure', 'Thriller']",58000000,352194034,GoldenEye,130.0,6.6,Released,14.686036,1194
11,NaN,NaN,NaN,62000000,107879496,The American President,106.0,6.5,Released,6.318445,199
12,12.0,Dracula: Dead and Loving It,"['Comedy', 'Horror']",0,0,Dracula: Dead and Loving It,88.0,5.7,Released,5.430331,210
13,13.0,Balto,"['Animation', ""Children's""]",0,11348324,Balto,78.0,7.1,Released,12.140733,423
14,14.0,Nixon,['Drama'],44000000,13681765,Nixon,192.0,7.1,Released,5.092,72
15,15.0,Cutthroat Island,"['Action', 'Adventure', 'Romance']",98000000,10017322,Cutthroat Island,119.0,5.7,Released,7.284477,137
16,16.0,Casino,"['Drama', 'Thriller']",52000000,116112375,Casino,178.0,7.8,Released,10.137389,1343
17,17.0,Sense and Sensibility,"['Drama', 'Romance']",16500000,135000000,Sense and Sensibility,136.0,7.2,Released,10.673167,364
18,18.0,Four Rooms,['Thriller'],4000000,4300000,Four Rooms,98.0,6.5,Released,9.026586,539
19,19.0,Ace Ventura: When Nature Calls,['Comedy'],30000000,212385533,Ace Ventura: When Nature Calls,90.0,6.1,Released,8.205448,1128
20,20.0,Money Train,['Action'],60000000,35431113,Money Train,103.0,5.4,Released,7.337906,224
21,21.0,Get Shorty,"['Action', 'Comedy', 'Drama']",30250000,/vWtDUUgQAsVyvRW4mE75LBgVm2e.jpg,Get Shorty,"[{'name': 'Jersey Films', 'id': 216}, {'name':...",Released,1995-10-20,to collect a bad debt from Harry Zimm,"The mob is tough, but it’s nothing like show b..."
22,22.0,Copycat,"['Crime', 'Drama', 'Thriller']",0,0,Copycat,124.0,6.5,Released,10.701801,199
23,23.0,Assassins,['Thriller'],50000000,30303072,Assassins,132.0,6.0,Released,11.065939,394
24,24.0,Powder,"['Drama', 'Sci-Fi']",0,0,Powder,111.0,6.3,Released,12.133094,143
25,25.0,Leaving Las Vegas,"['Drama', 'Romance']",3600000,49800000,Leaving Las Vegas,112.0,7.1,Released,10.332025,365
26,26.0,Othello,['Drama'],0,0,Othello,123.0,7.0,Released,1.845899,33
27,2848.0,Othello,['Drama'],0,0,Othello,123.0,7.0,Released,1.845899,33
28,27.0,Now and Then,['Drama'],12000000,27400000,Now and Then,100.0,6.6,Released,8.681325,91
29,28.0,Persuasion,['Romance'],0,0,Persuasion,104.0,7.4,Released,2.228434,36
...,...,...,...,...,...,...,...,...,...,...,...
45626,NaN,NaN,NaN,0,0,The Final Storm,92.0,3.7,Released,1.270832,11
45627,NaN,NaN,NaN,0,0,In a Heartbeat,4.0,8.3,Released,20.82178,146
45628,NaN,NaN,NaN,0,0,"Bloed, Zweet en Tranen",111.0,6.8,Released,0.590087,11
45629,NaN,NaN,NaN,0,0,Jungle Woman,61.0,5.8,Released,0.143223,2
45630,NaN,NaN,NaN,0,0,To Be Fat Like Me,89.0,5.0,Released,0.767762,12
45631,NaN,NaN,NaN,0,0,Cadet Kelly,101.0,5.2,Released,4.392389,145
45632,NaN,NaN,NaN,0,0,Le tripot clandestin,3.0,5.0,NaN,0.21926,3
45633,NaN,NaN,NaN,0,0,L'Homme à la tête de caoutchouc,3.0,7.6,Released,1.618458,29
45634,NaN,NaN,NaN,0,0,Les cartes vivantes,3.0,6.1,Released,0.208349,8
45635,NaN,NaN,NaN,0,0,Les affiches en goguette,3.0,4.5,Released,0.148131,2
45636,NaN,NaN,NaN,0,0,Le locataire diabolique,6.0,6.7,Released,0.725084,12
45637,NaN,NaN,NaN,0,0,Le Roi du maquillage,3.0,6.0,Released,0.213973,6
45638,NaN,NaN,NaN,0,0,Les Transmutations imperceptibles,2.0,5.0,Released,0.071782,2
45639,NaN,NaN,NaN,0,2005-09-13,Pooh's Heffalump Halloween Movie,0,False,"[{'iso_639_1': 'en', 'name': 'English'}]","brave forever"""" and catch the Gobloon so they...",5.4
45640,NaN,NaN,NaN,0,0,L'Homme orchestre,1.0,6.5,Released,1.109068,22
45641,NaN,NaN,NaN,0,0,Nouvelles luttes extravagantes,2.0,6.5,Released,0.225432,6
45642,NaN,NaN,NaN,0,0,Deep Hearts,58.0,0.0,Released,0.011025,0
45643,NaN,NaN,NaN,0,0,Maa,146.0,6.6,Released,1.559596,14
45644,NaN,NaN,NaN,0,0,The Morning After,79.0,4.0,Released,0.139936,2
45645,NaN,NaN,NaN,0,0,San Michele aveva un gallo,90.0,6.0,Released,0.225051,3
45646,NaN,NaN,NaN,0,1946-03-29,House of Horrors,0,False,"[{'iso_639_1': 'en', 'name': 'English'}]",he tricks the psycho into murdering his criti...,6.3
45647,NaN,NaN,NaN,0,0,Shadow of the Blair Witch,45.0,7.0,Released,0.076061,2
45648,NaN,NaN,NaN,0,0,The Burkittsville 7,30.0,7.0,Released,0.38645,1
45649,NaN,NaN,NaN,0,0,Caged Heat 3000,85.0,3.5,Released,0.661558,1
45650,3034.0,Robin Hood,"['Animation', ""Children's""]",0,0,Robin Hood,104.0,5.7,Released,5.683753,26
45651,NaN,NaN,NaN,0,0,رگ خواب,90.0,4.0,Released,0.072051,1
45652,NaN,NaN,NaN,0,0,Siglo ng Pagluluwal,360.0,9.0,Released,0.178241,3
45653,NaN,NaN,NaN,0,0,Betrayal,90.0,3.8,Released,0.903007,6
45654,NaN,NaN,NaN,0,0,Satana likuyushchiy,87.0,0.0,Released,0.003503,0
45655,NaN,NaN,NaN,0,0,Queerama,75.0,0.0,Released,0.163015,0