In [1]:
import pandas as pd
import numpy as np

In [ ]:
import pyspark

spark = (pyspark.sql.SparkSession.builder 
  .master("local[*]")
  .getOrCreate())

meta_df = spark.read.csv('data/movies_metadata.csv',
                               inferSchema=True,
                               header=True
                               ).toPandas()

In [231]:
meta_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,False,7.7,5415
1,False,None,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",None,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",None,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,None,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",None,31357,tt0114885,en,Waiting to Exhale,"""Cheated on, mistreated and stepped on, the wo...",...,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",None,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [31]:
meta_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [32]:
meta_df.status.value_counts()
#only care about released movies

Released                                                                                                                                                                  41194
[{'iso_639_1': 'en', 'name': 'English'}]                                                                                                                                    561
0                                                                                                                                                                           520
Rumored                                                                                                                                                                     205
[]                                                                                                                                                                          183
[{'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                                                  123
Post Production                                                                                                                                                              93
[{'iso_639_1': 'fr', 'name': 'Français'}]                                                                                                                                    47
90.0                                                                                                                                                                         45
[{'iso_639_1': 'pl', 'name': 'Polski'}]                                                                                                                                      33
[{'iso_639_1': 'ja', 'name': '日本語'}]                                                                                                                                         30
95.0                                                                                                                                                                         28
100.0                                                                                                                                                                        27
96.0                                                                                                                                                                         26
94.0                                                                                                                                                                         25
[{'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                                                                    24
98.0                                                                                                                                                                         23
0.0                                                                                                                                                                          23
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]                                                                                            21
88.0                                                                                                                                                                         20
82.0                                                                                                                                                                         20
[{'iso_639_1': 'ru', 'name': 'Pусский'}]                                                                                                                                     20
92.0                                                                                                                                                                         19
80.0                                                                                                                                                                         19
In Production                                                                                                                                                                19
86.0                                                                                                                                                                         17
85.0                                                                                                                                                                         17
93.0                                                                                                                                                                         16
[{'iso_639_1': 'de', 'name': 'Deutsch'}]                                                                                                                                     15
87.0                                                                                                                                                                         15
                                                                                                                                                                          ...
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'sr', 'name': 'Srpski'}]                                                                                               1
[{'name': 'British Broadcasting Corporation (BBC)', 'id': 3324}]                                                                                                              1
/ihX2udk636JMAAaWDIMj6n5ejhb.jpg                                                                                                                                              1
1943-01-16                                                                                                                                                                    1
[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_639_1': 'sv', 'name': 'svenska'}]                                                                                                1
/yZKmzBTRBrSFQAWcVXkQGTFmO1Y.jpg                                                                                                                                              1
31724284                                                                                                                                                                      1
156.0                                                                                                                                                                         1
[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'tr', 'name': 'Türkçe'}, {'iso_639_1': 'mk', 'name': ''}, {'iso_639_1': 'en', 'name': 'English'}]                      1
 {'name': 'Ciné+'                                                                                                                                                             1
2010-02-12                                                                                                                                                                    1
[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'CH', 'name': 'Switzerland'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'AL', 'name': 'Albania'}]        1
1996-05-12                                                                                                                                                                    1
1680358                                                                                                                                                                       1
 who once stole all of the life in the Kalos Region. During their journey they are attacked by Team Rocket                                                                    1
[{'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'la', 'name': 'Latin'}]                                                                                               1
 {'name': 'Fonds Film in Vlaanderen'                                                                                                                                          1
 including his mentally ill mother                                                                                                                                            1
 {'name': 'XM2 Productions'                                                                                                                                                   1
/hkzWL3bXX3V4dX3Fv1hq7kNfUsO.jpg                                                                                                                                              1
155545279                                                                                                                                                                     1
 cowardly mischief. In this film                                                                                                                                              1
/qBNZ94ZDhopGdQV9PtZ81tbAVOw.jpg                                                                                                                                              1
 'id': 71088}]"                                                                                                                                                               1
1999-10-14                                                                                                                                                                    1
2005-09-25                                                                                                                                                                    1
1971-11-10                                                                                                                                                                    1
2004-05-03                                                                                                                                                                    1
 that the 60-foot plesiosaur is killing and breeding."                                                                                                                        1
1973-03-29                                                                                                                                                                    1
Name: status, Length: 1367, dtype: int64

In [33]:
meta_df.loc[meta_df['adult'] == 'True']
#adult = True means porn, let's exlcude that...?

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19521,True,None,0,"[{'id': 27, 'name': 'Horror'}]",None,5422,tt0079642,it,Le notti erotiche dei morti viventi,A sailor takes an American businessman and his...,...,1980-11-18,0,112.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,None,Erotic Nights of the Living Dead,False,2.2,7
28764,True,None,0,"[{'id': 80, 'name': 'Crime'}]",http://www.imdb.com/title/tt0119931/,169158,tt0119931,en,Standoff,The FBI and Texas police make ready to storm t...,...,1998-01-11,0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Trust Will Get You Killed,Standoff,False,4.8,5
32006,True,None,0,"[{'id': 35, 'name': 'Comedy'}]",None,44781,tt0322232,cn,發電悄嬌娃,Electrical Girl centers around a horny young w...,...,2001-04-26,0,89.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,None,Electrical Girl,False,0.0,0
32188,True,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dietofsex.com/,324230,tt3094816,es,Diet of Sex,Ágata suffers from a psychological disorder wh...,...,2014-02-14,0,72.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,"Comedy, food, drama and sex, a lot of sex",Diet of Sex,False,4.0,12
39996,True,None,0,"[{'id': 80, 'name': 'Crime'}, {'id': 27, 'name...",None,35731,tt1161951,en,Amateur Porn Star Killer 2,Shane Ryan's sequel to the disturbing Amateur ...,...,2008-05-13,0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Humiliation. Rape. Murder. You know the drill.,Amateur Porn Star Killer 2,False,6.3,8
39997,True,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",None,55774,tt1153101,en,The Band,Australian film about a fictional sub-par Aust...,...,2009-11-17,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Sex, drugs and Rock 'n Roll",The Band,False,3.3,7
40669,True,None,0,"[{'id': 80, 'name': 'Crime'}, {'id': 27, 'name...",None,39922,tt0070696,da,Dværgen,Olaf and his mother run a boarding house and a...,...,1973-12-20,0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Mother of all Dwarfsploitation films!,The Sinful Dwarf,False,5.8,13
41104,True,None,750000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",None,376004,tt4044464,en,Adulterers,A man who returns home to find his wife cheati...,...,2016-01-05,0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Love. Betrayal. Vengeance,Adulterers,False,5.2,16
43188,True,None,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",None,448290,tt2697688,en,Half -Life,An American scientific research facility opens...,...,None,0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",In Production,None,Half -Life,False,3.7,3

In [34]:
meta_df.isna().sum()
# most movies do not belong to a collect, have a homepage, nor have a tagline

#

adult                        0
belongs_to_collection    40981
budget                      17
genres                      23
homepage                 37635
id                          31
imdb_id                    125
original_language           45
original_title              32
overview                   985
popularity                 120
poster_path                481
production_companies       124
production_countries       120
release_date               194
revenue                    136
runtime                    404
spoken_languages           164
status                     245
tagline                  23132
title                      778
video                      553
vote_average               498
vote_count                 389
dtype: int64

In [100]:
genres_one = meta_df.genres[1]
genres_one.split(':')

["[{'id'",
 " 12, 'name'",
 " 'Adventure'}, {'id'",
 " 14, 'name'",
 " 'Fantasy'}, {'id'",
 " 10751, 'name'",
 " 'Family'}]"]

In [103]:
[int(s) for s in genres_one.split(':') if s.isdigit()]

[]

In [85]:
for i in genres_one.split(':'):

['1', '2', '1', '4', '1', '0', '7', '5', '1']

In [71]:
items_genres = genres_one.split()

["[{'id':",
 '10749,',
 "'name':",
 "'Romance'},",
 "{'id':",
 '35,',
 "'name':",
 "'Comedy'}]"]

In [66]:
[s for s in genres_one.split() if s.is()]

[]

In [64]:
nums

['10749']

In [48]:
g_1

["[{'id': 10749, 'name': 'Romance'", ", {'id': 35, 'name': 'Comedy'", ']']

In [49]:
g_1[1]

", {'id': 35, 'name': 'Comedy'"

In [106]:
import io

In [110]:
import pandas as pd

def get_lines():
    with open('data/movies.dat', 'rb') as f:
        for line in f: 
            yield line

def get_weird_lines():
    for i, line in enumerate(get_lines()):
        for char in line: 
            if char > 127:
                yield line

In [111]:
weird_lines = get_weird_lines()

In [121]:
next(weird_lines)

b'1149::JLG/JLG - autoportrait de d\xe9cembre (1994)::Documentary|Drama\n'

In [122]:
line = next(weird_lines)[1]

In [123]:
line

49

In [125]:
import pandas as pd    

with open('data/movies.dat','r') as f:
    next(f) # skip first row
    df = pd.DataFrame(l.rstrip().split() for l in f)

print(df)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 3114: invalid continuation byte

In [221]:
movies_df = pd.read_csv('data/movies.dat',
            header=None, sep='::', engine='python')

In [222]:
movies_df.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [223]:
type(movies_df)

pandas.core.frame.DataFrame

In [239]:
movies_df[1] = movies_df[1].map(lambda x: x.split(' (')[0])

In [240]:
movies_df.head()

   0                            1                             2
0  1                    Toy Story   Animation|Children's|Comedy
1  2                      Jumanji  Adventure|Children's|Fantasy
2  3             Grumpier Old Men                Comedy|Romance
3  4            Waiting to Exhale                  Comedy|Drama
4  5  Father of the Bride Part II                        Comedy

In [244]:
movies_df[2] = movies_df[2].map(lambda x: x.split('|'))

In [258]:
movies_df.columns=['id','title','catergory']

In [279]:
results = pd.merge(movies_df,
                  meta_df[['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline','title' ,'video',
       'vote_average', 'vote_count']],
                  left_on='title',
                  right_on='title',
                  how='left')

In [282]:
results.columns

Index(['id', 'title', 'catergory', 'adult', 'belongs_to_collection', 'budget',
       'genres', 'homepage', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'video', 'vote_average',
       'vote_count'],
      dtype='object')

In [285]:
features = (results[['id','title','catergory','budget','revenue',
                           'runtime','vote_average','status','popularity','vote_count']])

In [286]:
features

,id,title,catergory,budget,revenue,runtime,vote_average,status,popularity,vote_count
0,1,Toy Story,"[Animation, Children's, Comedy]",30000000,373554033,81.0,7.7,Released,21.946943,5415
1,2,Jumanji,"[Adventure, Children's, Fantasy]",65000000,262797249,104.0,6.9,Released,17.015539,2413
2,3,Grumpier Old Men,"[Comedy, Romance]",0,0,101.0,6.5,Released,11.7129,92
3,4,Waiting to Exhale,"[Comedy, Drama]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Father of the Bride Part II,[Comedy],0,76578911,106.0,5.7,Released,8.387519,173
5,6,Heat,"[Action, Crime, Thriller]",60000000,187436818,170.0,7.7,Released,17.924927,1886
6,6,Heat,"[Action, Crime, Thriller]",0,0,102.0,6.3,Released,0.466019,6
7,7,Sabrina,"[Comedy, Romance]",58000000,0,127.0,6.2,Released,6.677277,141
8,8,Tom and Huck,"[Adventure, Children's]",0,0,97.0,5.4,Released,2.561161,45
9,9,Sudden Death,[Action],35000000,64350171,106.0,5.5,Released,5.23158,174
10,10,GoldenEye,"[Action, Adventure, Thriller]",58000000,352194034,130.0,6.6,Released,14.686036,1194
11,11,"American President, The","[Comedy, Drama, Romance]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Dracula: Dead and Loving It,"[Comedy, Horror]",0,0,88.0,5.7,Released,5.430331,210
13,13,Balto,"[Animation, Children's]",0,11348324,78.0,7.1,Released,12.140733,423
14,14,Nixon,[Drama],44000000,13681765,192.0,7.1,Released,5.092,72
15,15,Cutthroat Island,"[Action, Adventure, Romance]",98000000,10017322,119.0,5.7,Released,7.284477,137
16,16,Casino,"[Drama, Thriller]",52000000,116112375,178.0,7.8,Released,10.137389,1343
17,17,Sense and Sensibility,"[Drama, Romance]",16500000,135000000,136.0,7.2,Released,10.673167,364
18,17,Sense and Sensibility,"[Drama, Romance]",0,0,174.0,7.9,Released,1.724436,19
19,17,Sense and Sensibility,"[Drama, Romance]",0,0,174.0,0.0,Released,0.416171,0
20,17,Sense and Sensibility,"[Drama, Romance]",0,0,178.0,0.0,Released,0.010759,0
21,18,Four Rooms,[Thriller],4000000,4300000,98.0,6.5,Released,9.026586,539
22,19,Ace Ventura: When Nature Calls,[Comedy],30000000,212385533,90.0,6.1,Released,8.205448,1128
23,20,Money Train,[Action],60000000,35431113,103.0,5.4,Released,7.337906,224
24,21,Get Shorty,"[Action, Comedy, Drama]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,22,Copycat,"[Crime, Drama, Thriller]",0,0,124.0,6.5,Released,10.701801,199
26,23,Assassins,[Thriller],50000000,30303072,132.0,6.0,Released,11.065939,394
27,24,Powder,"[Drama, Sci-Fi]",0,0,111.0,6.3,Released,12.133094,143
28,25,Leaving Las Vegas,"[Drama, Romance]",3600000,49800000,112.0,7.1,Released,10.332025,365
29,26,Othello,[Drama],0,0,123.0,7.0,Released,1.845899,33
...,...,...,...,...,...,...,...,...,...,...
4385,3927,Fantastic Voyage,"[Adventure, Sci-Fi]",5115000,12000000,100.0,6.7,Released,12.53841,108
4386,3928,Abbott and Costello Meet Frankenstein,"[Comedy, Horror]",0,0,83.0,7.4,Released,4.372409,80
4387,3929,"Bank Dick, The",[Comedy],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4388,3930,"Creature From the Black Lagoon, The",[Horror],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4389,3931,"Giant Gila Monster, The","[Horror, Sci-Fi]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4390,3932,"Invisible Man, The","[Horror, Sci-Fi]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4391,3933,"Killer Shrews, The","[Horror, Sci-Fi]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4392,3934,Kronos,[Sci-Fi],0,0,78.0,5.8,Released,0.935835,8
4393,3935,Kronos,[Horror],0,0,78.0,5.8,Released,0.935835,8
4394,3936,"Phantom of the Opera, The","[Drama, Thriller]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4395,3937,Runaway,"[Sci-Fi, Thriller]",0,0,100.0,5.0,Released,2.537509,42
4396,3937,Runaway,"[Sci-Fi, Thriller]",0,0,9.0,7.0,Released,0.07639,2
4397,3937,Runaway,"[Sci-Fi, Thriller]",2000000,0,80.0,6.8,Released,0.80693,10
4398,3938,"Slumber Party Massacre, The",[Horror],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4399,3939,"Slumber Party Massacre II, The",[Horror],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4400,3940,"Slumber Party Massacre III, The",[Horror],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4401,3941,Sorority House Massacre,[Horror],0,0,74.0,4.7,Released,1.872461,22
4402,3942,Sorority House Massacre II,[Horror],0,0,80.0,5.0,Released,0.763373,12
4403,3943,Bamboozled,[Comedy],0,0,135.0,6.3,Released,4.380258,24
4404,3944,Bootmen,"[Comedy, Drama]",0,0,89.0,5.7,Released,1.40065,7
4405,3945,Digimon: The Movie,"[Adventure, Animation, Children's]",5500000,0,82.0,6.2,Released,5.300501,76
4406,3946,Get Carter,"[Action, Drama, Thriller]",63600000,19412993,102.0,4.8,Released,6.047757,147
4407,3946,Get Carter,"[Action, Drama, Thriller]",1814462,0,112.0,6.9,Released,7.505268,122
4408,3947,Get Carter,[Thriller],63600000,19412993,102.0,4.8,Released,6.047757,147
4409,3947,Get Carter,[Thriller],1814462,0,112.0,6.9,Released,7.505268,122
4410,3948,Meet the Parents,[Comedy],55000000,330444045,108.0,6.6,Released,14.178281,1743
4411,3949,Requiem for a Dream,[Drama],4500000,7390108,102.0,7.9,Released,6.874828,2525
4412,3950,Tigerland,[Drama],10000000,0,101.0,6.7,Released,5.878885,155
4413,3951,Two Family House,[Drama],0,0,104.0,7.0,Released,0.265689,5
4414,3952,"Contender, The","[Drama, Thriller]",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [250]:
movies_df.tail()

         0                    1                  2
3878  3948     Meet the Parents           [Comedy]
3879  3949  Requiem for a Dream            [Drama]
3880  3950            Tigerland            [Drama]
3881  3951     Two Family House            [Drama]
3882  3952       Contender, The  [Drama, Thriller]

In [249]:
movies_df.head()

    0                            1                                 2
0   1                    Toy Story   [Animation, Children's, Comedy]
1   2                      Jumanji  [Adventure, Children's, Fantasy]
2   3             Grumpier Old Men                 [Comedy, Romance]
3   4            Waiting to Exhale                   [Comedy, Drama]
4   5  Father of the Bride Part II                          [Comedy]
5   6                         Heat         [Action, Crime, Thriller]
6   7                      Sabrina                 [Comedy, Romance]
7   8                 Tom and Huck           [Adventure, Children's]
8   9                 Sudden Death                          [Action]
9  10                    GoldenEye     [Action, Adventure, Thriller]

In [254]:
meta_df.iloc[3882,:]

adult                                                                False
belongs_to_collection                                                 None
budget                                                                   0
genres                                       [{'id': 18, 'name': 'Drama'}]
homepage                                                              None
id                                                                   92603
imdb_id                                                          tt0120090
original_language                                                       en
original_title                                        Secretos del corazón
overview                 Javi and his friend Carlos visit an old house ...
popularity                                                         0.68827
poster_path                               /kchQD8mwMFOSXG0vsGfBcl6OFFL.jpg
production_companies     [{'name': 'Ariane Films', 'id': 42152}, {'name...
production_countries     [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...
release_date                                                    1997-03-19
revenue                                                                  0
runtime                                                              105.0
spoken_languages                  [{'iso_639_1': 'es', 'name': 'Español'}]
status                                                            Released
tagline                                                               None
title                                                 Secrets of the Heart
video                                                                False
vote_average                                                           6.4
vote_count                                                               9
Name: 3882, dtype: object